@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,300italic,400italic|Pinyon+Script);
*{
	font-size: 1.000em;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	width:100%;
}
header{
	background:url('../images/ola2.png') repeat-x left bottom; 
	float:left;
	font-size: 2.500em;
	height:650px;
	margin:0;
	position: relative;
	width:100%;
}
header > h1{
	color: #3399ff;
	float: left;	
	margin-top: 12%;
	margin-left:3%;
	text-align: right;
	text-shadow: 1px 2px 0 #0081D1, 2px 2px 0 #26D6D1;
	width:56%;
}
header nav{
	background-color: #ffffff;
	border:dashed 2px #D4D6D4;
	float: right;
	height:50%;
	margin-top: 10%;
	width:35%;
}
section{
	background: #7ECEFD;
	float:left;
	height:650px;
	width:100%;
}
section article{
	height: 80%;
	margin:5% auto;
	width:80%; 
}
section article div{
	height: 45%;
	width: 100%;
}
aside{
	background: #fff;
	border-radius: 15px;
	box-shadow:         -2px 2px 1px rgba(50, 50, 50, 0.22);
		-webkit-box-shadow: -2px 2px 1px rgba(50, 50, 50, 0.22);
		-moz-box-shadow:    -2px 2px 1px rgba(50, 50, 50, 0.22);
	position: fixed;
	z-index: 99;
}
footer{
	background-color: #3E454C;
	float: left;
	height: 60px;
	width:100%;
}
figure{
	height: 100%;
	margin: 0 auto;
	width: 100%;
}
figcaption{
	color:#19e5e5;
	margin: 0 auto;
}
ul li{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	list-style: none;
}
a{
	color: #7ECEFD;
	text-decoration: none;
}
a:hover{
	color: #FF7500;
}
.cinta {
	background: rgb(190,80,80);
	height: 6%;
	left: 24%;
	position: absolute;
	top: 60%;
	width: 35%;
}
.cinta p{
	color: #ffffee;
	font-family: 'Pinyon Script',cursiva, new times roman;
	font-style: oblique;
	font-size: 0.8em;
	margin: 0;
	text-align: center;
}
.cinta:after {
	content: "";
	border-left: 18px solid transparent;
	border-bottom: 18px solid rgb(180,80,80);
	border-top: 18px solid rgb(180,80,80);
	position: absolute;
	left: -9%;
	top: 15%;
	width: 5%;
}
.cinta:before {
	content: "";
	border-right: 18px solid transparent;
	border-bottom: 18px solid rgb(180,80,80);
	border-top: 18px solid rgb(180,80,80);
	position: absolute;
	left: 100%;
	top: 15%;
	width: 5%;
}
.subtiar{
	background: #fff;
	border-radius:15px 15px 0 0;
	float:left;
	font-size: 1.500em;
	margin: 0 auto;
	margin-left:2%;
	padding:.0.5%; 
	
}
.ipres{
	display: table;
	width: 100%;
}
.grande{
	float: left;
	font-size:1.625em;
	width: 25%;
}
.conpres{
	background-color:#ffffff;
	border-radius:20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	float:left;
	height: 90%;
	padding: 2.5%;
	position: relative;
	width: 100%;
}
#pfor{
	height: 100%;
}
#formulario{
	float: right;
	height: 45%;
	width: 45%;
}
#formulario fieldset{
	border-radius: 5px;
	margin: 0%;
	height: 100%;
	padding: 0%;
	width: 100%;
}
#formulario legend{
	color: #EEE5E5;
	margin: 2%;
}
#formulario label{
	float: left;
	height: 25px; 
	margin:0.5% 1%;
	padding-left:2%; 
	width: 40%;
}
#formulario input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	margin:0.5% 1%;
	width: 48%;
}
#formulario button{
	border:1px solid #e5e5e5;
	border-radius: 5px;
	clear: both;
	float: right;
	margin: 0 1%;
}
#fcon{
	border-left: 2px solid rgba(0,0,0,0.5);
	border-right: 2px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(0,0,0,0.2);
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	margin: auto;
	margin:0 auto;
	padding: 0.5%;
	text-align: center;
	width: 80%;
	height: 100%;
}
#fcon > p{
	margin: 0%;
}
#coi{
	column-count:2;
		-webkit-column-count:2;
		-moz-column-count:2;
		-e-column-count:2;
	column-gap:1%;
		-webkit-column-gap:1%;;
		-moz-column-gap:1%;
		-e-column-gap:1%;
	float: left;
	width: 96%;
}
#coi li{
	margin-left: 4%;
	width:90%;
}
#coi ul{
	margin-top: 1%;
	margin-bottom: 1%;
	width:85%;
}
#coi ul li{
	width:90%;
}
#cos{
	background-image:url("../images/fondopulpo.png");
	background-repeat:repeat-x;
	background-position:  left bottom;
}
#fotoperfil{
	float: right;
	height: 250px;
	width:150px;
}
#fotoperfil img{
	border-radius: 15px;
	margin: 0 auto;
}
#carrusel {
    background: none repeat scroll 0 0 #e5e5e5;
    border-radius:15px;
    color: #fff;
    float: left;
    height: 50%;
    margin: 1% auto;
    position: relative;
    width: 100%;
}
#carrusel ul{
	height: 95%;
	margin: 0.5% auto;
	overflow: hidden;
	padding:0; 
	position: absolute;
	width: 100%;
	z-index: 2;
}
#carrusel ul li{
	float:left;
	height: 100%;
	margin: 0;
	width: 50%;
	z-index: -1;
}
#carrusel li > div {
	background: #fff;
    height: 100%;
    margin: 0 7.5%;
    position: relative;
    width: 85%;
}
#carrusel li div h3 {
	color: #000;
    float: right;
    margin: 0.5%;
    margin-right: 2%;
}
#carrusel .texto {
    bottom: 0;
    color: #666666;
    font-size: 0.9em;
    height: 80%;
    margin: 0;
    position: absolute;
    right: 0;
    width: 50%;
}
#carrusel .imagenWeb{
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    width: 50%;
}
#carrusel .imagenWeb p{
	color: #E5E5E5;
	cursor: pointer;
    font-size: 3em;
	-webkit-transform:rotate(-35deg);
	-moz-transform:rotate(-35deg);
	-ms-transform:rotate(-35deg);
	-o-transform:rotate(-35deg);
	transform:rotate(-35deg);
}
#carrusel .flechas{
	color: #00BCF2;
	cursor: pointer;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
    font-size: 3pc;
    font-weight: bold;
    height: 35%;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 4%;
    z-index: 3;
}
#carrusel .flechas:hover{
	background: rgb(190,80,80);
	color: #fff;
}
#carrusel .flechad{
	border-radius: 18px 0 0 18px;
	right: 0;
}
#carrusel .flechai{
	border-radius: 0 18px 18px 0;	
	left: 0; 
}

@media only screen and (min-width: 700px) and (max-width:1024px){
	header{
		height: 600px;
	}
	header nav > ul{
		margin-left: 2%;
	}
	
	section{
		height: 600px;
	}
	footer{
		height: 80px;
	}
}
@media only screen and (max-width: 700px){
	header{
		height: 500px;
	}
	header > h1{
		background-color: #0081D1;
		color: #FFFDEB;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	header nav{
		height: 20%;
		float: left;
		margin: 0%;
		width: 99%;
	}
	header nav ul{
		margin: 0 auto;
		padding: 1%;
	}
	header nav ul li{
		display: inline-block;
		font-size: 0.9em;
		margin: 0;
		margin-left:1%; 
	}
	section{
		height: 700px;
	}
	footer{
		height: 100px;
	}
	.cinta{
		display: none;
	}
	.compres{
		padding: 0%;
	}
	#coi{
		column-count:1;
		-webkit-column-count:1;
		-moz-column-count:1;
		-e-column-count:1;
		margin: 0%;
	}
}