html{
    background: #f1f1f1;
}
body {
    font-size: 14px;
    color:#333;
}
section {
    background: #f1f1f1;
    float: right;
    height: 100vh;
    position: relative;
    width: 90%;
}
footer {
    position: relative;
    float: right;
    width: 90%;
}
article {
    background: #ffffff;
    border-right:1px solid #ededed;
    border-left:1px solid #ededed;
    height: 100%;
    position: absolute;
    right: 12.5%;
    top:0px;
    width: 75%;
}
input, label{
    box-sizing: border-box;
/*    margin: 5px auto;*/
}
h1{
    color:#FF7F66;
}
h2 a{
    color:black !important;
}
a{
    text-decoration: none;
}
a, a:visited{
    color:#FF7F66;
}
a:active{
    color:#ffffff; 
}
    /* menu navegacion */
    #bie {
        background: #3E454C;
        border-right:2px solid black;
        box-sizing: border-box;
        float: left;
        height: 100vh;
        margin: 0;
        position: fixed;
        width: 10%;
    }
    
    #bie nav {
        height: 40vh;
        margin-top: 30vh;
        width: 100%;
    }
    
    #bie nav ul {
        background: #2185C5;
        height: 100%;
        margin-top: 5%;
        padding-left:0px; 
    }
    #bie nav ul li {
        height: 33.5%;
        list-style: none outside none;
        padding: 0;
        text-align: center;
        transition:all 0.4s ease 0.2s;
    }
    #bie nav ul li:hover{
        background: #FFFFFF;
    }
    #bie nav ul li:hover a{
        color:#FF7F66;
    }
    #bie nav ul li.cambia{
        background: #FFFFFF;
    }
    #bie nav ul li.cambia a{
        color:#FF7F66;
    }
    #bie nav ul li a{
        transition:all 0.4s ease 0.2s;
        color:#fff;
    }
    #bie nav ul li a span{
        font-size: 3em;
    }

    /* titulo principal */
    #pres h1{
        animation: desplegarTitulo 3s linear 1; 
        -webkit-animation: desplegarTitulo 3s linear 1; 
        -ms-animation: desplegarTitulo 3s linear 1; 
        border-bottom: 1px dashed grey;
        font-size: 40px;
        text-align: center;
        margin: 0.67em auto;
        width: 80%;
    }
    #pres .conpres{
        margin-top: 14%;
    }
    #pres .conpres > div{
        box-sizing: border-box; 
        float: left; 
        padding: 0 10px;
        text-align: justify;
        width: 50%;
        margin-left: 6%;
    }
    #pres .conpres .ipre{
        width: 35%;
    }
    #fotoperfil img{
        margin-top: 10px;
        max-width: 100%;
        width: 50%;
    }
    #fotoperfil figcaption{
        box-sizing: border-box;
        float: right;
        padding: 0 10px;
        width: 50%;
    }
    #gus h2{
        text-align: center;
    }
    #carrusel {
        width: 80%;
        margin: 0px auto;
        height: 200px;
    }
    #carrusel .flechas {
        color:#e5e5e5;
        cursor: pointer;
        font-size: 2.5em;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        position: absolute;
        text-align: center;
        top:20%;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        width: 11%;
    }
    #carrusel .flechas:hover {
        background: #2185C5;
        color:#fff;
        font-size: 1.5em;
    }
    #carrusel .flechad {
        left: 0px;
    }
    #carrusel .flechai {
        right: 0px;
    }
    #carrusel h3 {
        /*margin: 0.10em auto;*/
    }
    #carrusel ul{
        background: #f9f9f9;
        float: left;
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
        z-index: 1;
    }

    #carrusel li {
        height: 100%;
        list-style: none outside none;
        width: 100%;
        z-index: -1;
    }
    #carrusel li > div {
        height: 100%;
        margin: 0 auto;
        width: 95%;
    }
    #carrusel li > div .texto{
        float: left;
        width: 50%;
    }
    #carrusel li > div figure{
        padding: 10px;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -ms-box-sizing:border-box;  
        float: right;
        width: 50%;
    }
    #carrusel li > div img{
        max-width: 100%;
    }
    
    .indice{
        height: 15px;
        width: 80%;
        display: flex;
        -webkit-display: flex;
        flex-direction:row;
        /*justify-content:center;*/
        -webkit-flex-direction: row;
        flex-direction: row;
        margin: 2px auto;
    }
    .indice .color{
        background: #e5e5e5;
        border:2px solid #fff;
        /*box-shadow:0px 0px 1px #e5e5e5;*/
        -webkit-flex: auto;
        flex: auto
    }
    .indice .color.active{
        background: #2185C5 !important;
    }
    
    #formulario{
        
    }
    #formulario fieldset {
        box-sizing: border-box;
        border-width: 3px;
        margin: 10px auto;
        width: 80%;
    }
    #formulario fieldset div{
        clear: both;
        margin: 10px 0px;
    }
    #formulario label{
        
    }
    #formulario input{
        border:none;
        float:right;
    }
    #formulario textarea{
        border:none;
        box-sizing: border-box;
        height: 50px;
        resize:none;
        width: 100%;
    }
    #formulario button{
        background: #e4e4e4;
        border:none; 
        padding:5px;
    }
    #cos h2{
        text-align: center;
    }
    #cos .conpres {
        position: relative;
        height: 80%;
    }
    #cos .conpres .pestanias{
        position: relative;
    }
    #cos .conpres > div {
        clear:both;
        width: 80%;
        margin: 0 auto;
    }
    #cos .conpres .pestanias > div {
        background: #fbfbfb;
        height: 30px;
        position: absolute;
        text-align: center;
        width: 49%;
    }
    #cos .conpres .pestanias > div.active{
        background: #e6e6e6;
        width: 51%;
    }
    #cos .conpres .pestanias div.pesWeb{
        left:0;
    }
    #cos .conpres .pestanias div.pesWeb.active:before{
        content: "";
        border-top: 30px solid #e6e6e6;
        border-right: 10px solid transparent;      
        position: absolute;
        right: -9px;
        z-index: 1;
    }
    #cos .conpres .pestanias div.pesNativo{
        right:0;
    }
    #cos .conpres .pestanias div.pesNativo.active:before{
        content: "";
        border-top: 30px solid #e6e6e6;
        border-left: 10px solid transparent;      
        position: absolute;
        left: -9px;
    }
    #cos .conpres .pestanias h3 {
        color: #6e6e6e;
        cursor: pointer;
        margin:2px; 
    }
    #cos .conpres .web,
    #cos .conpres .nativo{
        border: 3px solid rgb(229, 229, 229);
        box-sizing: border-box;
        left: 10%;
        margin-top: 5px;
        padding: 10px;
        position: absolute;
        top: 30px;
        z-index: -1;
    }
    #cos .conpres .web.active,
    #cos .conpres .nativo.active{
        z-index: 1;
    }
    #cos .pesContenido > div{
        position: relative;
    }
    #cos .pesContenido > div > h3{
        text-align: center;
    }
    #cos .pesContenido > div > div{
        border-right:3px solid #e4e4e4;
        position: relative;
    }
    #cos .pesContenido > div > div:hover{
        border-color: #747474;
    }
    #cos .pesContenido > div > div:hover:after{
        background: #747474;
        border: 7px solid #747474;
        right: -8px;
    }
    #cos .pesContenido > div > div:after{
        border-radius: 50%;
        border: 7px solid #E4E4E4;
        content: "";
        position: absolute;
        top: 50%;
        right: -8px;
    }
    #cos .pesContenido div div > h3{
        cursor: pointer;
        margin: 0px;
        padding: 7px;
    }
    #cos .pesContenido div div > h3 span{
        float: right;
        transition:all 1.5s ease;
    }
    #cos .pesContenido div div > h3:hover span{
        color:#7ECEFD;
        transform:rotate(360deg);
    }
    #cos .conpres > div .entro{
        /*border-top: 4px double #e6e6e6;*/
        height: 0px;
        overflow: hidden;
        transition: all 1s ease 0s;
    }
    #cos .conpres > div .entro.active{
        height: 150px;
    }
    #cos .conpres > div ul{
        float: left;
        width: 30%;
    }
    #cos .conpres > div .pastel{
        float: right;
    }
    #fcon{
        margin: 0 auto;
        width: 70%;
    }
    @keyframes desplegarTitulo{
        from{
            /*margin-left: -200%;*/
            opacity: 0;
        }
        to{
            /*margin-left: 0%;*/
            opacity: 1;
        }
    }
    @-webkit-keyframes desplegarTitulo{
        from{
            /*margin-left: -200%;*/
            opacity: 0;
        }
        to{
            /*margin-left: 0%;*/
            opacity: 1;
        }
    }
@media screen and (min-width: 1500px){
    .main{
        position: relative;
        margin: 0 auto;
        width: 1450px;
    }
    section{
        height: 700px;
    }
    #bie{
        border-left:2px solid black;
        border-right:2px solid black;
        height: 2050px;
        width: initial;
    }
    #bie nav{
        height: 300px;
    }
    /*al fondo a la derecha*/
    .sanitario{
        left: 0;
        bottom: 0;
    }
}
@media screen and (min-width:768px) and (max-width: 900px){
      article {
        width: 90%;
        right: 5%;
    }
}
@media screen and (max-width:767px){
    section{
        width: 100%;
        height: 720px;
    }
    article {
        width: 95%;
        right: 2.5%;
    }
    #bie {
        background: none repeat scroll 0% 0% #3E454C;
        border:0px;
        border-top: 2px solid #000;
        bottom: 0px;
        float: left;
        height: 70px;
        margin: 0px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    #bie nav {
        margin-top: 0px;
        height: 100%;
        width: 100%;
    }
    #bie nav ul {
        background: none repeat scroll 0% 0% #2185C5;
        height: 100%;
        padding-left: 0px;
        width: 100%;
        margin:0px; 
    }
    #bie nav ul li {
        float: left;
        list-style: outside none none;
        text-align: center;
        transition: all 0.4s ease 0.4s;
        width: 33.3%;
        padding-top: 2.5%;
        height: 100%;
    }
    #bie nav ul li a{
        color:white;
        transition: all 0.4s ease 0.4s;
        text-decoration: none;
    }
    #bie nav ul li:focus {
        background: white;
    }
    #bie nav ul li:hover a,
    #bie nav ul li:focus a{
        color: #FF7F66;
    }
    #bie nav ul li a span{
        font-size: 1em;
    }
    #pres .conpres{
        margin-top: 1%;
    }
    #pres .conpres > div{
        float: left; 
        margin-left: 0;
        width: 100%;
    }
    #pres .conpres .ipre{
        width: 100%;
    }
    #fotoperfil img{
        width: 125px;
    }
    #fotoperfil figcaption{
       /* width:70%;*/
    }
    #formulario fieldset{
        width: 90%;
    }
    #formulario fieldset{
        
    }
    footer{
        display: none;
    }
}
@media print{
    header{
        display: none;
    }
    section{
        background: none repeat scroll 0% 0% #F1F1F1;
        width: 100%;
        height: auto;
        position: relative;
        float: left;
    }
    article{
        width: 90%;
        position: relative;
        left:5%;
        height: auto;
        border:none;
    }
    #pres .conpres > div{
        float: left; 
        width: 100%;
    }
    #pres .conpres .ipre{
        width: 90%;
        left: 5%;
    }
    #fotoperfil img {
        width: 200px;
    }
    #carrusel ul{
        overflow: inherit;
        height: auto;
    }
    #carrusel .flechas{
        display: none;
    }
    #formulario{
        display: none;
    }
    #cos .conpres > div {
        width: 100%;
    }
    #cos .conpres .pestanias {
        display: none;
    }
    #cos .conpres .web, #cos .conpres .nativo{
        border:none;
        position: relative;
        left: 0px;
    }
    #cos .conpres > div .entro {
        height: auto;
        overflow: hidden;
    }
    #cos .pesContenido > div > div{
        border:none;
    }
    #cos .pesContenido > div > div:after{
        display: none;
    }
}

/*fuentes*/

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?hbqwyv');
    src:url('fonts/icomoon.eot?#iefixhbqwyv') format('embedded-opentype'),
        url('fonts/icomoon.woff?hbqwyv') format('woff'),
        url('fonts/icomoon.ttf?hbqwyv') format('truetype'),
        url('fonts/icomoon.svg?hbqwyv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e600";
}
.icon-headphones:before {
    content: "\e601";
}
.icon-pacman:before {
    content: "\e602";
}
.icon-profile:before {
    content: "\e603";
}
.icon-folder-open:before {
    content: "\e604";
}
.icon-support:before {
    content: "\e605";
}
.icon-grin:before {
    content: "\e606";
}
.icon-evil:before {
    content: "\e607";
}
.icon-point-up:before {
    content: "\e608";
}
.icon-point-right:before {
    content: "\e609";
}
.icon-point-down:before {
    content: "\e60a";
}
.icon-point-left:before {
    content: "\e60b";
}